<h2>New book</h2>
<%= form_with @book do |f| %>
  <div>
   本の感想
   <%= f.text_field :本のタイトル %>
  </div>
  <div>
   感想
   <%= f.text_area :感想 %>
  </div>
  <div>
   Create Book
   <%= f.submit %>
  </div>

<% end %>


